@charset "utf-8";
.style_item {
	float: left;
	height: 270px;
	width: 200px;
	background-image: none;
	background-repeat: no-repeat;
	background-color: #FFF;
	border: 1px ridge #B6B6B6;
	border-radius: 5px;
	display: block;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
	margin-left: 2px;
}
.style_item :hover   {
 

	
	/*
    filter: alpha(opacity=0);
    opacity: 0;
    
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
	
*/
}

.style_item .image_title a {
	text-decoration:none;
	text-align: center;
	font-size: 18px;
	color: #00C;
	font-weight: bold;
	display: block;
	padding-top: 2px;	
}
.style_item .image_title {
	height: 20px;
	width: 200px;
}
.style_item .image_item {
	height: 200px;
	width: auto;
	display: block;
}
.style_item .image_item img {
	height: 200px;
	width: auto;
	max-width:200px;
	
	margin: auto;
	clear: none;
	display: block;
}


.style_item .price {
	height: 10px;
	width: auto;
	text-align: center;
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #F00;
	padding: 0px;
	float: right;
	margin-top: 5px;
}
.style_item .note {
	text-align: center;
	max-height: 20px;
	float: right;
	padding-top:10px;
	width: 40%;
	height: auto;
	font-size: 13px;	
}
.style_item .items .under_content .button .count_vote {
	margin-top:15px;
	float: left;
	height: auto;
	width: 20px;
	text-align: center;
}
.style_item .items .under_content .button .image_vote {
	margin-top:10px;
	float: left;
	height: auto;
	width: 30px;
}
.style_item .items .under_content .button .image_vote img {
	float: left;
	height: auto;
	width: 30px;
}

.style_item .items .under_content .button .image_unvote img {
	float:left
	height: auto;
	width: 20px;
}

style_item .items .under_content .button .count_unvote {
	float: left;
	height: auto;
	width: 20px;
	text-align: center;
}
.style_item .items .under_content .button .image_unvote {
	float: left;
	height: auto;
	width: 30px;
}

.style_item .items .under_content .button {
	float: left;
	width: 40%;
	height: 10;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}



.style_item .line {
	height: 1px;
	width: 80%;
	background-color: #0C6;
	margin: auto;
}
.style_item div .content_item {
	height: auto;
	width: auto;
}

.style_item div .content_item_hiden .text_item {
	display: none;
}
 
.form{
	height: auto;
	width: 100%;
	border: 1px ridge #000;
	border-radius: 5px;
	float: right;
}
.vip{
	margin: auto;
	height: 500px;
	width: 500px;	
}