.price{
	font-size: 300%;
	color: #FF0000 ;
}

.product-description{
font-size: 160.07%;
color: #000;
margin-bottom: 15px;
}
#choose-color{
width: 200px;
}
.count-input{
margin-left: 0px;
margin-right: 0px;
width: 50px;
}
.tru-button{
margin-right: 0px;	
}
.cong-buuton{
margin-left: 0px;
}
#main-content{
	margin-bottom: 20px;
}
footer {
   position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
   border-color: black;
   background-color: scrollbar;
}
#search_form{
margin-top: 15px;
}
#shopping_cart{
margin-top: 15px;
}